<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/style1.css">
    </head>
    
    <body>
        <img src="media/simple graphic.png" height="300" width="474">
        <p id='title'>Master Blaster</p>
        <p id='instructions'>Press the spacebar to shoot and use the arrow keys to move!</p>
        <button id='begin' type="button">Begin Game</button>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/p5.min.js"></script>
    <script src="js/p5.sound.js"></script>
    <script src="js/main3.js"></script>

    </body>
    <footer>
        <ul>
            <li><a href="http://vacuoustruths.tumblr.com/post/135404295161/master-blaster-the-documentation" target="_blank">About Me</a></li>
            <li>Powered by p5js and nodejs!</li>
            <li>All music by Billy T Ben (NYUAD)</li>
        </ul>
    </footer>

</html>